body{
    background: #fff;
    color: #000000;
    font-family: sans-serif;
    font-size:15px;
}
#wrapper{
    background: #eee;
    width: 1100px;
    margin: 20px auto;
}
#wrapper header{
    background: #64CCC5;
    padding: 20px;
}
#wrapper header hgroup{
    float: left;
    color: #000000;
}
#wrapper header nav{
    float: right;
    margin-top: 50px;
}
#wrapper header nav ul{
    padding: 0;
    margin: 0;
}
#wrapper header nav ul li{
    float: left;
    list-style: none;
}
#wrapper header nav ul li a{
    padding: 15px;
    color: #000000;
    text-decoration: none;
}
.clear{
    clear: both;
}
.profile {
    text-align: center;
}
.data {
    text-align: center;
}
footer{
    background: #64CCC5;
    padding: 20px;
}
footer a{
    color: #000000;
    text-decoration: none;
}
section{
    padding: 20px;
}